body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.table, th, td {
    border: 3px ridge lightslategrey;
    padding: 0px 30px 3px 30px;
    border-collapse: collapse;
    text-align: center;
}
.create-button {
    background-color: #F7A65A;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-radius: 7px;
    border-width: 1px;
    font-family: cursive;
    margin: 0px 0px 10px 50px;
}
.edit-button {
    background-color: #00bfff;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-radius: 7px;
    border-width: 1px;
    font-family: cursive;
    margin: 0px 0px 10px 20px;
}